<!-- Default home page -->

<div class="container">
    <div class="row">
            <div class="card-panel center-align">
                <h4 class="blue-text text-darken-2">
                    Use the keyboard to play the notes
                </h4>
                <br>
                <img class="responsive-img center-align" src="images/piano.png" alt="piano">
            </div>
    </div>
</div>

<script src='js/audioEngine.js'></script>
<script src='js/socketManager.js'></script>
<script src='js/app.js'></script>
